VITE_SUPABASE_URL=https://gdwegkmgqejgcunxrjih.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdkd2Vna21ncWVqZ2N1bnhyamloIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY4NTY3NDYsImV4cCI6MjA5MjQzMjc0Nn0.YZCVL-yIvQdrSrJqsRegP017x_j4KlRww225lDxt-dA
VITE_API_BASE_URL=https://gdwegkmgqejgcunxrjih.supabase.co/rest/v1/
